DATABASE_URL="postgresql://postgres:MyPassword2026!@phillip-exam-coach-db.c7cmo2c6ecz8.ap-southeast-1.rds.amazonaws.com:5432/phillip_exam_coach"

NEXTAUTH_SECRET="bd05705d95de1e8234e6932620671e22"

NEXTAUTH_URL="https://main.d14ziunoe9is8i.amplifyapp.com/"
